.link-forgot>a:hover {
    color: #8f95c2;
}

.link-forgot>a:nth-child(1) {
    font-weight: bold;
}

.link-forgot>a {
    color: #303D97;
}

.link-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-register span {
    margin-right: 5px;
}

.link-register strong {
    color: #303D97;
}

.image-login {
    width: 100%;
    height: 100%;
}