.container {
    display: flex;
    flex-direction: row;
}

.image-login img {
    width: 100%;
    height: 98vh;
}

.form-login {
    background-color: #F8F9FC;
}

.link-forgot {
    color: #303D97;
}

@media only screen and (max-width: 768px) {
    .image-login {
        display: none;
    }

    .form-login {
        width: 100% !important;
    }
}