.image-init img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
}

.form-init {
    margin-left: 50%;
}

.button-register {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
    .register-client {
        height: 100vh;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .form-init {
        margin: 0 auto;
    }
}