.container-init {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image-init img {
    width: 100%;
    height: 100vh;
}

.form-init {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #F8F9FC;
}

.link-forgot {
    color: #303D97;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-init {
    width: 100%;
    margin-top: 10px;
    background-color: #303D97;
}

.button-init:hover {
    background-color: #404dac !important;
}

@media only screen and (max-width: 768px) {
    .image-init {
        display: none;
    }

    .form-init {
        width: 100% !important;
    }
}

.title h2 {
    color: #222358
}

.title h5 {
    color: #808fa3
}

.row-filter-general {
    display: flex;
    align-items: center;
}

.container-main {
    padding: 0 10%;
}

.navbar {
    margin-bottom: 20px;
}

.button-filter-general {
    margin-top: 30px;
    margin-left: 20px;
}

@media only screen and (max-width: 579px) {
    .button-filter-general {
        width: 100%;
        margin: 0;
    }
}

.button-add-general {
    margin-top: 30px;
    margin-left: 20px;
}

.button-filter-general+.clear-filter {
    margin-top: 20px;
}

.button-add {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media only screen and (max-width: 1200px) {
    .button-add {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .button-add-general {
        width: 100%;
        margin: 0;
    }
}